:root {
    --primary-font-family: "Roboto", sans-serif !important;
  
    --primary-text-color: #060c1b;
    --primary-white-color: #ffffff;
    --primary-outline-color: #5c5c70;
    --primary-input-color: #5c5c70;
    --input-outline-color: #b8b9bc;
  
    --secondary-text-color: #2f2b38;
  
    --primary-bg-color: #2188d9;
    --primary-bg-dark-color: #1773bb;
    --body-bg-color: #ffffff00;
    --white-text-color: #ffffff;
  
    --primary-border-radius: 4px;
    --table-container-outline-color: #ececed;
    --table-row-hover-bg-color: #f1f5f8;
  
    --status-low-risk-bg-color: #d7e5da;
    --status-uncomplete-bg-color: rgba(255, 61, 0, 0.1);
    --status-unassigned-bg-color: #ececed;
    --status-low-risk-color: #53d86a;
    --status-uncomplete-color: #ff3d00;
    --status-unassigned-color: #b8b9bc;
    --duedate-orange-text-color: #ff3d00;
  }