<div class="warpper pb-5">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg zendu_primary-bg p-0">
        <div class="container">
            <a class="navbar-brand p-0" href="#">
                <img src="../../../assets/img/brand/logo.svg" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                    <li class="nav-link ">
                        <img src="../../../assets/img/navbar-icons/forms-icon.svg" alt="forms-icon">
                        <h4>Forms</h4>
                    </li>
                    <li class="nav-link">
                        <img src="../../assets/img/navbar-icons/customer-icon.svg" alt="customer-icon">
                        <h4>Customers</h4>
                    </li>
                    <li class="nav-link active">
                        <img src="../../assets/img/navbar-icons/submission-icon.svg" alt="submission-icon">
                        <h4>Submissions</h4>
                    </li>
                    <li class="nav-link">
                        <img src="../../assets/img/navbar-icons/history-icon.svg" alt="history-icon">
                        <h4>History</h4>
                    </li>
                    <li class="nav-link">
                        <img src="../../assets/img/navbar-icons/reports-icon.svg" alt="reports-icon">
                        <h4>Reports</h4>
                    </li>
                    <li class="nav-link">
                        <img src="../../assets/img/navbar-icons/reports-icon.svg" alt="reports-icon">
                        <h4>Workflow</h4>
                    </li>

                </ul>
                <div class="d-flex">
                    <figure class="me-3 cursor-pointer"><img src="../../assets/img/navbar-icons/bell-icon.svg"
                            alt="bell-icon"></figure>
                    <figure class=" cursor-pointer"><img src="../../assets/img/navbar-icons/logout-icon.svg"
                            alt="logout-icon"></figure>
                </div>
            </div>
        </div>
    </nav>

    <!-- main pages -->
    <router-outlet></router-outlet>
</div>