<div class="list">
    <div class="submissions-list__row d-flex position-relative">
        <div class="submissions-list">
            <div class="submission-card mb-2" *ngFor="let item of submissions_list; let i = index">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>{{item.task}}</h3>
                    <button *ngIf="item.status === '1'" class="low-risk status-btn d-flex align-items-center">
                        <span class="me-2"></span>Low Risk
                    </button>
                    <button *ngIf="item.status === '2'" class="uncomplete status-btn d-flex align-items-center">
                        <span class="me-2"></span>Uncomplete
                    </button>
                    <button *ngIf="item.status === '3'" class="unassigned status-btn d-flex align-items-center">
                        <span class="me-2"></span>Unassigned
                    </button>
                </div>
                <p><span>From:</span>{{item.from}}</p>
                <p><span>To:</span>{{item.to}}</p>
                <p class="orange-text"><span>Due Date:</span>{{item.due_date}}</p>
            </div>
        </div>
        <div class="map">
            <google-map #myGoogleMap height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options"
                (mapClick)="eventHandler($event,'mapClick')" (mapDblclick)="eventHandler($event,'mapDblclick')"
                (mapDrag)="eventHandler($event,'mapDrag')" (mapDragend)="eventHandler($event,'mapDragend')"
                (mapRightclick)="eventHandler($event,'mapRightclick')"
                (positionChanged)="eventHandler($event,'marker_positionChanged')"
                (zoomChanged)="eventHandler($event,'zoomChanged')">

                <map-marker #markerElem="mapMarker" *ngFor="let marker of markers" [position]="marker.position"
                    [label]="marker.label" [title]="marker.title" [options]="marker.options"
                    (mapClick)="openInfo(markerElem, marker.info)">
                </map-marker>

                <map-info-window>{{ infoContent }}</map-info-window>
            </google-map>
        </div>
    </div>
</div>